<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="font-weight-bold navbar-brand" href="/">
    <img src="/assets/images/logo.png" alt="instagram logo">
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navToCollapse" aria-controls="navToCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navToCollapse">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/photos">Photos</a>
      </li>

      <% if(locals.isAuthenticated) { %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      <% } %>

    </ul>

  </div>

  <% for(const type in messages) { %>
    <div class="<%= type %> col">
      <h5><%= messages[type] %></h5>
    </div>
  <% } %>

</nav>
