<div class="row">

  <div class="col-sm-6 text-center align-self-center">
    <img class="img-fluid whiteBox" src="<%= randomPhoto.imageSRC %>">
  </div>

  <% if(!locals.isAuthenticated) { %>
    <div class="col-sm-6 text-center align-self-center">

      <p class="whiteBox">
        Don't have an account? <a href="/register">Register</a>
      </p>

      <p class="whiteBox">
        Have an account? <a href="/login">Login</a>
      </p>

    </div>
  <% } %>

</div>
