<div   id="footer" class="container align-self-center">

  <div class="row align-self-center">

    <div class="col-9 align-self-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">About us</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        <li class="list-inline-item"><a href="#">Blog</a></li>
        <li class="list-inline-item"><a href="#">Press</a></li>
        <li class="list-inline-item"><a href="#">API</a></li>
        <li class="list-inline-item"><a href="#">Jobs</a></li>
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Directory</a></li>
        <li class="list-inline-item"><a href="#">Language</a></li>
      </ul>
    </div>
    <div class="col-3 align-self-center">
      <p class="text-right">
        <a href="https://www.instagram.com">&copy; 2018 Instagram</a>
      </p>
    </div>

  </div>

</div>
