* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.center-text {
  text-align: center;
}

main {
  margin-top: 20px;
  padding: 20px;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 30px;
}
img.UAlglogo {
  display: block;
  margin: 0 auto;
  max-width: 121px;
  margin-bottom: 30px;
}
h2 {
  font-size: 2em;
  font-weight: 100;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

footer p {
  font-weight: 300;
  font-size: 1.0em;
}

a {
  color: #31D8A0;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2f8165;
}

.image {
  position: relative;
  display: block;
}

.fa-video, .fa-image {
  position: absolute;
  left: 20px;
  top: 20px;
}

.meta > div {
  padding: 0;
  text-align: center;
  white-space: nowrap;
}
.endpoints{
  display:inline-block;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
.endpoints li{
  text-align: left;
}
