<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../layouts/layout-header.ejs %>
</head>
<body>

<!--<button class="instabtn" onclick="openNav('social-sidepanel')">&#9776; Instagram</button>-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="instabtn" onclick="openNav('social-sidepanel')">&#9776;</button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <h6 class="nav-link" href="#">Brands statistics</h6>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboards/explore">Data Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboards/engagement">Brand engagement</a>
    </li>
  </ul>
</nav>
<div  class="main-contaier">
  <div class="dash-container grid grid-split-columns">
    <div class="chart-wrapper">
      <div class="chart-title">
        Top 10 Brands
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Horizontal bar chart of top 10 brands overall engagement
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top 10 brands metrics
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Top 10 brands posts, likes, comments, followers and following counters
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top 10 Brands
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Horizontal bar chart of top 10 brands overall engagement
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top 10 brands metrics
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Top 10 brands posts, likes, comments, followers and following counters
      </div>
    </div>
    <div class="grid-split">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top brands trends
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          Likes, comments, engagement and sentiment trends
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Top brands trends
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          Likes, comments, engagement and sentiment trends
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Top brands pie charts
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          language, DoW, DoM, HoD, Locations , tags, verification, image types, image colors, image entities pie charts
        </div>
      </div>
      <div class="chart-wrapper">
        <div class="chart-title">
          Top brands pie charts
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100px120?theme=white">
        </div>
        <div class="chart-notes">
          language, DoW, DoM, HoD, Locations , tags, verification, image types, image colors, image entities pie charts
        </div>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top brands maps
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Geographical location maps for top brands posts, fans and engagements
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top brands timelines
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Top brands timeline of posts and engagements
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top brands maps
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Geographical location maps for top brands posts, fans and engagements
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-title">
        Top brands timelines
      </div>
      <div class="chart-stage">
        <img data-src="holder.js/100px120?theme=white">
      </div>
      <div class="chart-notes">
        Top brands timeline of posts and engagements
      </div>
    </div>
  </div>
</div>
<%- include ../layouts/layout-footer.ejs %>
</body>
</html>

