<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
  <title>Socialytics login </title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/app.css">
  <%- include ../layouts/layouts-javascripts-head.ejs %>
</head>
<body>
<button class="instabtn" onclick="openNav('sidepanel-login')">&#9776; Instagram </button>
<!--<button class="twitrbtn" onclick="openNav()">&#9776; tw</button>-->
<div id="app" class="flex flex-column">
  <main class="login container">
    <div class="row">
      <div class="col-12 col-6-tablet push-3-tablet text-center heading">
        <h1 class="font-100">Instagram account:</h1>
        <h6 style="color:darkred; font-size:10px" class="font-100">Please remember to set session_id in config index file </br> before using account only login,</br> otherwise use instagram login on the left</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop">
        <form class="form" method="post" action="/authenticate">
          <input type="hidden" name="strategy" value="local">
          <fieldset>
            <input style="cursor:pointer;" class="block" type="username" name="username" placeholder="username" autocomplete="username">
          </fieldset>
<!--
          <fieldset>
            <input class="block form-control" type="password" name="password" placeholder="password">
          </fieldset>-->

          <button style="cursor:pointer;" type="submit" id="login" class="button button-primary block signup">
            Use this Instagram account
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
<div class="sidepanel" id="sidepanel-login">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sidepanel-login')">&times;</a>
  <%- include iglogin.ejs %>
</div>
<%- include ../layouts/layout-footer.ejs %>
</body>
</html>
