<div class="main-container">
  <div style="display:none" id="secret" username="<%=username%>"></div>
  <div id="alert-container" style="position:absolute;top:100px;right:0"></div>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <img class="github" id="github" alt="Houman Hadian's project research tool on Github" src="/img/svg/github-corner-right.svg">
      <div class="navbar-header">
        <button class="instabtn" onclick="openNav('social-sidepanel')">&#9776;</button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fa fa-chevron-left" href="../" style="color:#f25417;font-size:19px;"></a>
        <!--<span id="help-btn" class="navbar-brand fa fa-info-circle" style="font-size:19px;"></span>-->
        <a class="navbar-brand" href="./">Socialytics</a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav nav main-nav">
          <li><a href="/dashboards/stats?username=<%=username%>">Stats dashboard</a></li>
          <li><a href="/dashboards/explore?username=<%=username%>">Data explore</a></li>
          <li><a href="/dashboards/engagement?username=<%=username%>">Engagement dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container grid grid-hero-sidebar">
    <div id="home-sidebar" class="sidebar widget-wrapper">
      <div  style="" class="widget-stage">
        <div style="padding:10px;">
          <input type="text" style="width:70%;display:inline;margin:5px;" class="form-control" id="search-input" search-query="search-query">
          <input id="searchProfileBtn" style="text-align:center;display:inline; padding:5px; margin:5px; min-width:5%" value="Go" type="button" class="btn btn-secondary">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Search instagram for profiles" data-content="Search instagram for user profiles name which searches instagram API directly and then you can drag & drop results in to user profiles inputs like set A,set B and user profile name." data-placement="bottom" class="info fa fa-info-circle"></a>
          <div style="overflow-y:scroll;max-height:20vh;margin-bottom:25px;color:black;background-color: #7f7d7d;" id="autocomplete-results"></div><br>
          <div id="countera" class="stats-totals"></div><br>
          <div id="counterb" class="stats-totals"></div><br>
          <input style="margin-bottom:5px;" value="Get sample filters" type="button" class="btn btn-primary" click-target="/instagram/form/data?" call-type="form-data">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Gets sample filters and sets" data-content="Gets sample filter items and configured set members which are popular Portugies and Iranian brands." data-placement="top" class="info fa fa-info-circle"></a>
          <input style="margin-bottom:5px;" value="Get sets data" type="button" class="btn btn-secondary" id="getSetDataBtn">
          <a href="#" data-toggle="popover" data-trigger="focus" title="Gets set A and set B data in full" data-content="Gets set A and set B members data, by each posts and each media and stores them all in database." data-placement="top" class="info fa fa-info-circle"></a>
        </div>
        <div style=" text-align:center" class="footer">
          <p class="small text-muted">Built with &#9829; for <a target="_blank" href="https://houmanhadian.github.io/">Houman Hadian's doctoral project @ UAlg</a></p>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="widget-wrapper">
      <!--  <div class="widget-title">
          Widget Title
        </div>-->
        <div class="widget-stage">
          <%include ./logo.ejs%>
          <div id="carosel" style="width:100%"></div>
        </div>
      <!--  <div class="widget-notes">
          Notes about this chart
        </div>-->
      </div>
      <br><br><br>
      <div style="" class="form-group tabs">
        <ul style="max-width:45vw" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#self-tab" style="display:inline;">Self</a>
            <span style="display:inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Current Instagram user ops" data-content="ETL and/or API browsing operations for current loged in user's registered Instagram account(via registered session id)." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile-tab" style="display:inline;">Profile</a>
            <span style="display:inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram profile ops" data-content="ETL and/or API browsing operations for desired user profile." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#post-tab" style="display:inline;">Post</a>
            <span style="display:inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram posts ops" data-content="ETL and/or API browsing operations for desired Instagram profile's posts." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#loctag-tab" style="display:inline;">Location|Tag</a>
            <span style="display:inline;">
              <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram location and hashtag ops" data-content="ETL and/or API browsing operations for desired Instagram hashtag or location. Returns posts related to either hashtag or location input by user." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#seta-tab" style="display:inline;">Set A</a>
            <span style="display:inline;">
              <a href="#" data-toggle="popover" data-trigger="focus" title="Set A(first set) of comparative analytics" data-content="comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set A members input." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#setb-tab" style="display:inline;">Set B</a>
            <span style="display:inline;">
               <a href="#" data-toggle="popover" data-trigger="focus" title="Set B(second set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set B members input." data-placement="top" class="info fa fa-info-circle"></a>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#search-tab" style="display:inline;">Search </a>
            <span style="display:inline;">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram general search ops" data-content="General search operations of Instagram gets a text query and returns data items under 3 different set of results: users, locations and hashtags. Every of which includes an array of founded  related records(returns an objects of tree arrays)." data-placement="top" class="info fa fa-info-circle"></a>
            </span>


          </li>
          <li class="nav-item">
            <br>
            <input  style="width:40%; display:inline;margin:5px;padding:10px;margin-left:20px;" placeholder="Count limit" type="number" class="form-control" id="count-input" count=0>
            <span><a href="#" data-toggle="popover" data-trigger="focus" title="Returned records upper limit" data-content="For Instagram ETL and browsing operations which do not present -ALL- on their title, limit the count of returned records by setting this parameter." data-placement="top" class="info fa fa-info-circle"></a></span>
            <input  style="width:40%; display:inline;margin:5px;padding:10px;" placeholder="Set limit"  type="number" class="form-control" id="set-limit-input" count=0>
              <span><a href="#" data-toggle="popover" data-trigger="focus" title="Set members upper limit" data-content="Maximum number of set members get in to account for full data extraction, as a dynamic parameter." data-placement="top" class="info fa fa-info-circle"></a></span>
          </li>

        </ul>
        <div style="max-width:45vw" class="tab-content">
          <div style="max-width:45vw" class="tab-pane active container widget-stage" id="self-tab">
            <br>
            <input id="profile-name-input" type="text" class="form-control" placeholder="Logged in user profile" disabled="true" style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="user profile" data-content="System will input and use current logged in user's registered Instagram account(via registered session id)." data-placement="top" class="info fa fa-info-circle"></a><br>
            <button id="sugg-post-btn" class="btn btn-primary etl-btn" type="button"  value="Get suggested posts" click-target="/instagram/suggested/posts?" call-type="sugg-posts">Sugg posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets suggested posts related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a>
            <button id="sugg-people-btn" class="btn btn-primary etl-btn" type="button"  value="Get suggested people" click-target="/instagram/suggested/people?"  call-type="sugg-people">Sugg people</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets suggested people related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a>
            <button id="recent-feed-btn" class="btn btn-primary etl-btn" type="button"  value="Get feed" click-target="/instagram/feed?" call-type="feed-posts">Recent feed</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets feed related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a>
            <button id="all-feed-btn" class="btn btn-primary etl-btn" type="button"  value="Get all feed" click-target="/instagram/allfeed?" call-type="all-feed-posts">All feed</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets all feeds related to current logged in user profile." data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="profile-tab">
            <br>
            <input type="text" ondrop="drop(event)" ondragover="allowDrop(event)" placeholder="Profile name" class="form-control" id="username-input" username="username"style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Instagram profile name" data-content="Input desired Instagram profile name for ETL or browsing operations. You can search for Instagram profile names via search control on top left of home page." data-placement="top" class="info fa fa-info-circle"></a><br>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user profile" click-target="/instagram/profile?" call-type="profile">User profile</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user profile" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user posts" click-target="/instagram/posts?" call-type="recent-posts">Recent posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets profile recent posts" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get all posts" click-target="/instagram/allposts?" call-type="all-posts">All posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets profile all posts" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followings" click-target="/instagram/following?" call-type="user-following">Followings</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user follwings number" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followers" click-target="/instagram/followers?" call-type="user-followers">Followers</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets user followers number" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="post-tab">
            <br>
            <input type="text" placeholder="Short code" class="form-control" id="shortcode-input" short-code="short-code"style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Short code" data-content="Post short code" data-placement="top" class="info fa fa-info-circle"></a><br>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post media" click-target="/instagram/post?" call-type="post-json">Media</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post media" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post likes" click-target="/instagram/likes?" call-type="post-likes">Likes</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post likes" data-placement="top" class="info fa fa-info-circle"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post comments" click-target="/instagram/comments?" call-type="post-comments">Comments</button>
            <a href="#" data-toggle="popover" data-trigger="focus" data-content="Gets post comments" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="loctag-tab">
            <br>
            <input style="display:inline" placeholder="Tag..." type="text" class="form-control" id="tag-input" tag="tag">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Tag" data-content="Post tag" data-placement="top" class="info fa fa-info-circle"></a>
            <button style="display:inline" class="btn btn-primary etl-btn" type="button"  value="Get posts by tag" click-target="/instagram/tag?" call-type="tag-posts">Tag posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Tag" data-content="Get posts by tag" data-placement="top" class="info fa fa-info-circle"></a><br>
            <input type="text" placeholder="Location..." class="form-control" id="location-input" location="location" style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="Posts by location" data-placement="top" class="info fa fa-info-circle"></a>
            <button style="display:inline" class="btn btn-primary etl-btn" type="button"  value="Get posts by location" click-target="/instagram/location?" call-type="location-posts">Location posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="Get posts by location" data-placement="top" class="info fa fa-info-circle"></a>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="seta-tab">
            <br>

            <input id="resetSeta" style="text-align:center;display:inline-block; padding:5px; float:right; margin-right:32%; min-width:16%" value="Reset set" type="button" class="btn btn-secondary">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Set A(first set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This part represents set A members input." data-placement="top" class="info fa fa-info-circle" style="float:right;display: inline;margin-right:2%;"></a>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Reset sets" data-content="Resets the filters only to configured predefined values(via configuration files)." data-placement="top" class="info fa fa-info-circle" style="float:right;display: inline;margin-right:-23%;"></a>
            <textarea style="display:block; padding:5px; margin:10px; min-height:200px;width:25em" id="seta" class="seta" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline;"></textarea>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="setb-tab">
            <br>
            <input id="resetSetb" style="text-align:center;display:inline-block; padding:5px; float:right; margin-right:32%; min-width:16%" value="Reset set" type="button" class="btn btn-secondary">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Set B(second set) of comparative analytics" data-content="Comparative analytics are implemented for two sets of data, varying inside(set A and set B). This tab represents set B members input."  data-placement="top" class="info fa fa-info-circle" style="float:right;display: inline;margin-right:2%;"></a>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Reset sets" data-content="Resets the filters only to configured predefined values(via configuration files)." data-placement="top" class="info fa fa-info-circle" style="float:right;display: inline;margin-right:-23%;"></a>
            <textarea style="display:block; padding:5px; margin:10px; min-height:200px;width:25em;" id="setb" class="setb" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline;"></textarea>

          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="search-tab">
            <br>
            <input type="text" placeholder="Search query.." class="form-control" id="search-input" search-query="search-query" style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Search query" data-content="Search query" data-placement="top" class="info fa fa-info-circle"></a><br>
            <button class="btn btn-primary etl-btn" type="button"  value="Get search items" click-target="/instagram/search?" call-type="search-posts">Search instagram</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get search items" data-content="Search query" data-placement="top" class="info fa fa-info-circle"></a>
          </div>

        </div>
      </div><br>

    </div>

  </div>
</div>
<!--<script>
  OverlayScrollbars(document.querySelectorAll('body'), {
  className : "os-theme-dark",
});
</script>-->
