<main class="container">
  <%include ./logo.ejs%>
  <img class="github" id="github" alt="Houman Hadian's project on Github" src="/img/svg/github-corner-right.svg">
  <div id="alert-container" style="position:absolute;top:100px;right:0">

  </div>
  <div id="carosel" style="width:800px;height:450px;margin-left:14%">
    <div id="powerpoint" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#powerpoint" data-slide-to="0" class="active"></li>
        <li data-target="#powerpoint" data-slide-to="1"></li>
        <li data-target="#powerpoint" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide1.jpg" alt="Slide #1">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide2.jpg" alt="Slide #2">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide3.jpg" alt="Slide #3">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide4.jpg" alt="Slide #4">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide5.jpg" alt="Slide #5">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide6.jpg" alt="Slide #6">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide7.jpg" alt="Slide #7">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide8.jpg" alt="Slide #8">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide9.jpg" alt="Slide #9">
        </div>
        <div class="carousel-item">
          <img style="max-width:800px;max-height:450px" src="/img/ppt/Slide10.jpg" alt="Slide #10">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#powerpoint" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#powerpoint" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>
  <h2 class="center-text">Houman Hadian's PhD research application tool.</h2>
  <br/>
  <h4 class="center-text">Instagram client API implemented endpoints.</h4>
  <br/>
  <div id="content-container">
    <div class="form-container" id="form-container">
      <form class="data-form">
        <div class="form-group">
          Profile name: <input type="text" class="form-control" id="username-input" username="username"><br>
          Tag: <input type="text" class="form-control" id="tag-input" tag="tag"><br>
          Location: <input type="text" class="form-control" id="location-input" location="location"><br>
          Search query: <input type="text" class="form-control" id="search-input" search-query="search-query"><br>
          Short code: <input type="text" class="form-control" id="shortcode-input" short-code="short-code"><br>
          Count: <input type="number" class="form-control" id="count-input" count=0><br>
        </div>
      </form>
      <input value="Get sample data" type="button" class="btn btn-primary" click-target="http://localhost:8080/instagram/form/data?" call-type="form-data">
    </div>
    <div class="center-text" id="links-container">
      <ul class="endpoints">
        <li>
          <button class="btn btn-primary" type="button"  value="Get user profile" click-target="http://localhost:8080/instagram/profile?" call-type="profile">Get user profile</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get current user profile" click-target="http://localhost:8080/instagram/whoami" call-type="whoami">Get current  user profile</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get user recent posts" click-target="http://localhost:8080/instagram/posts?" call-type="recent-posts">Get user recent posts</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get user all posts" click-target="http://localhost:8080/instagram/allposts?" call-type="all-posts">Get user all posts</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get posts by tag" click-target="http://localhost:8080/instagram/explore/tag?" call-type="tag-posts">Get posts by tag</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get posts by location" click-target="http://localhost:8080/instagram/explore/location?" call-type="location-posts">Get posts by location</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get user followings" click-target="http://localhost:8080/instagram/following?" call-type="user-following">Get user followings</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get user followers" click-target="http://localhost:8080/instagram/followers?" call-type="user-followers">Get user followers</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get search items" click-target="http://localhost:8080/instagram/search?" call-type="search-posts">Get search items</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get feed" click-target="http://localhost:8080/instagram/feed?" call-type="feed-posts">Get feed</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get all feed" click-target="http://localhost:8080/instagram/allfeed?" call-type="all-feed-posts">Get all feed</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get post likes" click-target="http://localhost:8080/instagram/likes?" call-type="post-likes">Get post likes</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get post comments" click-target="http://localhost:8080/instagram/comments?" call-type="post-comments">Get post comments</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get post media" click-target="http://localhost:8080/instagram/post?" call-type="post-json">Get post media</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get suggested posts" click-target="http://localhost:8080/instagram/suggested/posts?" call-type="sugg-posts">Get suggested posts</button>
          <br/>
        </li>
        <li>
          <button class="btn btn-primary" type="button"  value="Get suggested people" click-target="http://localhost:8080/instagram/suggested/people?"  call-type="sugg-people">Get suggested people</button>
          <br/>
        </li>

      </ul>
    </div>

  </div>
</main>
