<div class="main-container">
  <div style="display:none" id="secret" username="<%=username%>"></div>
  <div id="alert-container" style="position:absolute;top:100px;right:0"></div>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <img class="github" id="github" alt="Houman Hadian's project research tool on Github" src="/img/svg/github-corner-right.svg">
      <div class="navbar-header">
        <button class="instabtn" onclick="openNav('social-sidepanel')">&#9776;</button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fa fa-chevron-left" href="../" style="color:#f25417;font-size:19px;"></a>
        <span id="help-btn" class="navbar-brand fa fa-info-circle" style="font-size:19px;"></span>
        <a class="navbar-brand" href="./">Socialytics</a>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav nav main-nav">
          <li><a href="/dashboards/stats?username=<%=username%>">Stats dashboard</a></li>
          <li><a href="/dashboards/explore?username=<%=username%>">Data explore</a></li>
          <li><a href="/dashboards/engagement?username=<%=username%>">Engagement dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container grid grid-hero-sidebar">
    <div id="home-sidebar" class="sidebar widget-wrapper">
      <div  style="" class="widget-stage">
        <div style="padding:10px;">
          <input type="text" style="width:70%;display:inline;margin:5px;" class="form-control" id="search-input" search-query="search-query">
          <input id="searchProfileBtn" style="text-align:center;display:inline; padding:5px; margin:5px; min-width:5%" value="Go" type="button" class="btn btn-secondary">
          <div style="overflow-y:scroll;max-height:20vh;margin-bottom:25px;color:black;background-color: #7f7d7d;" id="autocomplete-results"></div><br>
          <div id="countera" class="stats-totals"></div><br>
          <div id="counterb" class="stats-totals"></div><br>
          <input style="margin-bottom:5px;" value="Get sample filters" type="button" class="btn btn-primary" click-target="/instagram/form/data?" call-type="form-data">
          <input style="margin-bottom:5px;" value="Get sets data" type="button" class="btn btn-secondary" id="getSetDataBtn">
        </div>
        <div style=" text-align:center" class="footer">
          <p class="small text-muted">Built with &#9829; for <a target="_blank" href="https://houmanhadian.github.io/">Houman Hadian's doctoral project @ UAlg</a></p>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="widget-wrapper">
      <!--  <div class="widget-title">
          Widget Title
        </div>-->
        <div class="widget-stage">
          <%include ./logo.ejs%>
          <div id="carosel" style="width:100%"></div>
        </div>
      <!--  <div class="widget-notes">
          Notes about this chart
        </div>-->
      </div><br><br>
      <div style="" class="form-group tabs">
        <ul style="max-width:45vw" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#self-tab">Self</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile-tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#post-tab">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#loctag-tab">Location|Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#seta-tab">Set A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#setb-tab">Set B</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#search-tab">Search</a>
          </li>
          <li class="nav-item">
            <span><a href="#" data-toggle="popover" data-trigger="focus" title="Count limit" data-content="Count limit" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a></span>
            <input  style="width:40%; display:inline;margin:5px;padding:10px;" placeholder="Count limit" type="number" class="form-control" id="count-input" count=0>
            <span><a href="#" data-toggle="popover" data-trigger="focus" title="Count limit" data-content="Set limit input" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a></span>
            <input  style="width:40%; display:inline;margin:5px;padding:10px;" placeholder="Set limit"  type="number" class="form-control" id="set-limit-input" count=0>
          </li>

        </ul>
        <div style="max-width:45vw" class="tab-content">
          <div style="max-width:45vw" class="tab-pane active container widget-stage" id="self-tab">
            <br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="user profile" data-content="Logged in user profile" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input id="profile-name-input" type="text" class="form-control" placeholder="Logged in user profile" disabled="true" style="display: inline;"><br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Suggested posts" data-content="Suggested posts" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button id="sugg-post-btn" class="btn btn-primary etl-btn" type="button"  value="Get suggested posts" click-target="/instagram/suggested/posts?" call-type="sugg-posts">Sugg posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Suggested people" data-content="Suggested people" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button id="sugg-people-btn" class="btn btn-primary etl-btn" type="button"  value="Get suggested people" click-target="/instagram/suggested/people?"  call-type="sugg-people">Sugg people</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Recent feed" data-content="Recent feed" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button id="recent-feed-btn" class="btn btn-primary etl-btn" type="button"  value="Get feed" click-target="/instagram/feed?" call-type="feed-posts">Recent feed</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="All feed" data-content="All feed" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button id="all-feed-btn" class="btn btn-primary etl-btn" type="button"  value="Get all feed" click-target="/instagram/allfeed?" call-type="all-feed-posts">All feed</button>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="profile-tab">
            <br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Profile name" data-content="Profile user name" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input type="text" ondrop="drop(event)" ondragover="allowDrop(event)" placeholder="Profile name" class="form-control" id="username-input" username="username"style="display: inline;"><br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="user profile" data-content="Get user profile" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user profile" click-target="/instagram/profile?" call-type="profile">User profile</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Recent posts" data-content="Get profile recent posts" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user posts" click-target="/instagram/posts?" call-type="recent-posts">Recent posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="All posts" data-content="Get profile all posts" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get all posts" click-target="/instagram/allposts?" call-type="all-posts">All posts</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Following" data-content="GetUser folling" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followings" click-target="/instagram/following?" call-type="user-following">Followings</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Followers" data-content="Get user followers" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get user followers" click-target="/instagram/followers?" call-type="user-followers">Followers</button><br>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="post-tab">
            <br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Short code" data-content="Post short code" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input type="text" placeholder="Short code" class="form-control" id="shortcode-input" short-code="short-code"style="display: inline;"><br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get post media" data-content="Get post media" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post media" click-target="/instagram/post?" call-type="post-json">Media</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get post likes" data-content="Get post likes" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post likes" click-target="/instagram/likes?" call-type="post-likes">Likes</button>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get post comments" data-content="Get post comments" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get post comments" click-target="/instagram/comments?" call-type="post-comments">Comments</button><br>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="loctag-tab">
            <br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Tag" data-content="Post tag" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input style="display:inline" placeholder="Tag..." type="text" class="form-control" id="tag-input" tag="tag" style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Tag" data-content="Get posts by tag" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button style="display:inline" class="btn btn-primary etl-btn" type="button"  value="Get posts by tag" click-target="/instagram/tag?" call-type="tag-posts">Tag posts</button><br><br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="Posts by location" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input type="text" placeholder="Location..." style="display:inline" class="form-control" id="location-input" location="location" style="display: inline;">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Location" data-content="Get posts by location" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button style="display:inline" class="btn btn-primary etl-btn" type="button"  value="Get posts by location" click-target="/instagram/location?" call-type="location-posts">Location posts</button><br>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="seta-tab">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Set A" data-content="Data set A" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <textarea style="display:block; padding:5px; margin:10px; min-height:200px;width:25em" id="seta" class="seta" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline;"></textarea>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="setb-tab">
            <a href="#" data-toggle="popover" data-trigger="focus" title="Set B" data-content="Data set B" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <textarea style="display:block; padding:5px; margin:10px; min-height:200px;width:25em;" id="setb" class="setb" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline;"></textarea>
          </div>
          <div style="max-width:45vw" class="tab-pane container widget-stage" id="search-tab">
            <br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Search query" data-content="Search query" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <input type="text" placeholder="Search query.." class="form-control" id="search-input" search-query="search-query" style="display: inline;"><br>
            <a href="#" data-toggle="popover" data-trigger="focus" title="Get search items" data-content="Search query" data-placement="top" class="fa fa-info-circle" style="color:#afafb0;"></a>
            <button class="btn btn-primary etl-btn" type="button"  value="Get search items" click-target="/instagram/search?" call-type="search-posts">Search instagram</button><br>
          </div>

        </div>
      </div><br>

    </div>

  </div>
</div>
