<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
  <title>Socialytics registeration </title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/app.css">
  <%- include ../layouts/layouts-javascripts-head.ejs %>
</head>
<body style="background: aliceblue">
<!--<button class="twitrbtn" onclick="openNav()">&#9776; tw</button>-->
<div id="app" class="flex flex-column">
  <main style="background-color: #dbe7f3; border-radius: 100px;" class="login container">
    <div class="row">
      <div class="col-12 col-6-tablet push-3-tablet text-center heading">
        <h1 class="font-100">Socialytics:</h1>
        <h6 style="color:darkred; font-size:10px" class="font-100">Get Instagram session-id cookie from instagram page in your browser!</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop">
        <form class="form" method="post" action="/register">
          <input type="hidden" name="strategy" value="local">
          <fieldset>
            <input style="cursor:pointer;" class="block" type="email" name="email" placeholder="valid email" autocomplete="email">
            <input class="block form-control" type="password" name="password" placeholder="desired password">
            <input style="cursor:pointer;" class="block" type="username" name="username" placeholder="instagram username" autocomplete="username">
            <input class="block form-control" type="password" name="sessionid" placeholder="instagram sessionid">
          </fieldset>
          <button style="cursor:pointer;" type="submit" id="register" class="button button-primary block signup">
            Register to Socialytics
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
<%- include ../layouts/layout-footer.ejs %>
</body>
</html>
