<div class="row">

  <div class="col">

    <form class="text-center justify-content-center" method="POST" action="/photos" enctype="multipart/form-data">

      <div class="form-group">

        <div>
          <label for="caption">Write a nice caption:</label>
          <input type="text" class="form-control" name="caption" id="caption" placeholder="Caption">
        </div>

        <br />

        <div>
          <label for="caption">How many stars?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stars" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stars" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stars" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stars" id="inlineRadio3" value="4">
          <label class="form-check-label" for="inlineRadio3">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stars" id="inlineRadio3" value="5">
          <label class="form-check-label" for="inlineRadio3">5</label>
        </div>

        <br />
        <br />

        <div>
          <label for="image">Select an Image:</label>
          <input type="file" class="form-control-file" name="image" id="image">
        </div>

        <br />

        <button type="submit" class="btn btn-primary col">Upload</button>

      </div>

    </form>

  </div>

  <div class="col">
    <img class="img-thumbnail img-fluid" src="#" alt="#">
  </div>

</div>
