<div class="row justify-content-center">
  <div class="col-md-5 text-center">
    <img id="phones" class="img-fluid" src="assets/images/phones.png" alt="phones">
  </div>

  <div class="col-md-5 text-center align-self-center">

    <div class="whiteBox">

      <a href="/">
        <img class="img-fluid mx-auto d-block" src="/assets/images/logo.png" alt="instagram logo">
      </a>

      <br>

      <p>
        Sign up to see photos and videos from your friends.
      </p>

      <form class="col-11 text-center justify-content-center" method="POST" action="/register" enctype="multipart/form-data">
        <div class="text-center form-group justify-content-center">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username">
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
          <div>
            <label for="image">Select a profile Image</label>
            <input type="file" name="profileImage" id="profileImage" placeholder="Profile Image">
          </div>
        </div>
        <button type="submit" class="btn btn-primary col">Next</button>
      </form>

      <br>

      <p>
        By signing up, you agree to our Terms &amp; Privacy Policy.
      </p>

    </div>

    <p class="whiteBox">
      Have an account? <a href="/login">Login</a>
    </p>

    <br>

    <p>
      Get the app.
    </p>
    <img src="assets/images/app-store.png">
    <img src="assets/images/google-play.png">

  </div>

</div>
