<head>
  <%- include ../layouts/layout-header.ejs %>
</head>
<body>
<button class="instabtn" onclick="openNav('insta-sidepanel')">&#9776; Instagram</button>
<div class="main-contaier">
  <%- include ../pages/main.ejs %>
</div>
<%- include ../pages/sidepanel.ejs %>

<%- include ../layouts/layout-footer.ejs %>
</body>
