<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../layouts/layout-header.ejs %>
</head>
<body id="home-body">
<%- include ../pages/main.ejs %>
<%- include ../pages/sidepanel.ejs %>

<%- include ../layouts/layout-footer.ejs %>
<script src="/js/scripts/socket-prepare.js"></script>
<script src="/js/scripts/sets-client.js"></script>
</body>
</html>
